<section class="doc-title-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-11 offset-lg-1 relative">
                <img src="/img/doc.svg" alt="doc" class="doc-bg">
                <h1>{{title}}</h1>
            </div>
        </div>
    </div>
</section>


<section class="content-doc content-faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-1">
                <h3>General</h3>
                <div class="faq-bg first-faq-bg">
                    <h4>What is your Refund Policy?</h4>
                    <p class="p">Users are allowed to add funds in specific denominations (10, 25, 50 etc.). Once funds are added to csskinshop, the users may use these funds to purchase in-game items from csskinshop directly.</p>
                    <p>Funds from transactions that have been partially spent may not be available for refunds.
                    All item purchased, once executed, are non-refundable.
                    Deposits can only be elegible for refunds if it was caused by an error on the site's end.</p>
                </div>
                <h3>Account</h3>
                <div class="faq-bg ">
                    <h4>Can I send items I purchased to a friend/my other account?</h4>
                    <p class="p">No. Items purchased by a Steam account can only be delivered to the same Steam account. No exceptions.</p>
                </div>


                <div class="faq-bg ">
                    <h4>Can I transfer my balance or items to another account?</h4>
                    <p class="p">Unfortunately, you can’t enter someone else’s trade link or send items/balance to a friend through our website. This restriction was made for the security purposes of our users.</p>
                </div>
                <div class="faq-bg ">
                    <h4>Someone said they got banned at csskinshop for nothing. Is it true?</h4>
                    <p class="p">Csskinshop.com does not take bans lightly. If someone has been banned, it is because they've tried to commit payments fraud, impersonated other Steam users/entities, attempted ID verification fraud, or endangered other Steam users' safety (e.g., phishing, misleading trade offers, etc.). If you believe you've been wrongly banned at megaskns.com, we can take a look at your case again if you request it via a support ticket, but you may not receive a response if we ascertain malicious behavior on your part. Steam, with which megaskns.com is not affiliated, provides an ecosystem that is valuable to alot of people; we will do our best to safeguard its users' interests. Stay safe, and please abide by common sense codes of conduct.</p>
                </div>
                <div class="faq-bg">
                    <h4>Someone says they're 'partnered' with you. Is it true?</h4>
                    <p class="p">No, csskinshop.com does not advertise for, or endorse, any third-party site or individual, or their activities, whether wholly or in part. Beware of anyone claiming to be 'partnered' with csskinshop.com.</p>
                </div>


                <h3>How to buy?</h3>
                <div class="faq-bg faq-bg-list">
                    <h4>How do i start buying?</h4>
                    <p class="p">1. Login to the site using your Steam account and paste your trade link if you haven`t done it yet</p>
                    <p class="p">2. Enter the Skins Market from the main menu</p>
                    <p class="p">3. Select the items you would like to buy and then click «Buy»</p>
                    <p class="p">4. Select the desirable payment method, enter your data, confirm payment and return to the site</p>
                    <p class="p">5. As soon as your payment will be processed in our system, you will be able to buy an item.</p>
                </div>
                <div class="faq-bg faq-bg-list">
                    <h4>What do I need to be able to buy items?</h4>
                    <p class="p">In order to purchase items on our site, you should have:</p>
                    <p class="p">1. Public inventory in Steam</p>
                    <p class="p">2. Correct trade link</p>
                    <p class="p">3. Active Steam Guard via email or mobile authenticator.</p>
                </div>


                <div class="faq-bg ">
                    <h4>Can I use my balance to buy items?</h4>
                    <p class="p">Yes, you can buy any of items on the main page only with you balance.</p>
                </div>

                <div class="faq-bg ">
                    <h4>How can I use my balance on the site?</h4>
                    <p class="p">If you want to use balance, you just need to select an item from the main page and click the “Buy” button. The required amount of money will be automatically charged off your balance. Before buying items, make sure that you have enough balance.</p>
                </div>

                <div class="faq-bg ">
                    <h4>How can I add funds on the site?</h4>
                    <p class="p">If you want to add funds to your balance on our site, just click on your current balance and «Add funds»‎ window will pop-up. Then just select the desirable payment method, deposit amount and your credit card details. If everything is right, your money will be added to the balance in a few minutes.</p>
                </div>

                <div class="faq-bg ">
                    <h4>Are there any commissions on adding funds?</h4>
                    <p class="p">There are no commissions on adding funds to your balance from our side. The payment amount may be higher due to currency conversion at the rate of the payment system.</p>
                </div>


                <div class="faq-bg ">
                    <h4>I added funds and I haven't received them, what do I do?</h4>
                    <p class="p">Some payment methods can take longer than others. If you don't receive your funds within 24 hours, please contact us so we can investigate what's taking so long.</p>
                </div>

                <div class="faq-bg ">
                    <h4>How long does it take to receive a balance after a successful payment?</h4>
                    <p class="p">The waiting time in this case depends on the processing of the transaction by our merchants. The average balance crediting time is 10 minutes. If the waiting time exceeds several hours - contact the technical support of the payment system that you were using.</p>
                </div>

                <div class="faq-bg ">
                    <h4>Can I buy items without Steam Guard enabled?</h4>
                    <p class="p">In order to purchase items in Store, you don’t need to have an active Steam mobile authenticator, it will be enough to have an active Steam Guard via email. You couldn’t withdraw your items if your Steam account isn’t protected with Steam Guard or it was enabled for less than 15 days.</p>
                </div>

                <div class="faq-bg ">
                    <h4>What should I do if my money has been deducted, but on the site it says that the transaction was cancelled?</h4>
                    <p class="p">There is no need to worry in this case, you will get your money back soon. If there are still any kind of delays with the return of funds - contact the technical support of the payment system that you were using.</p>
                </div>

                <div class="faq-bg ">
                    <h4>I accidentally added funds on the site, can I make a refund?</h4>
                    <p class="p">According to the rules of our site, we can make a refund only if the user didn’t spend any cent of received funds. In this case, you should contact our technical support via email info@csskinshop.com with your account details. Estimated refund time - 5 days.</p>
                </div>

                <div class="faq-bg ">
                    <h4>Can I add funds with my currency if I don’t have US dollars?</h4>
                    <p class="p">Sure, you can add funds with any currency! During the payment process, your currency will be converted to Loot-cscase balance and you can make a payment without any problems.</p>
                </div>
            </div>
        </div>
    </div>
</section>