<section class="doc-title-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-11 offset-lg-1 relative">
                <img src="/img/doc.svg" alt="doc" class="doc-bg">
                <h1>{{title}}</h1>
                <p class="date">Last updated May 10, 2022</p>
            </div>
        </div>
    </div>
</section>

<section class="content-doc terms-doc">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <p class="p">We ("Company") is committed to protecting Your personal data and the right to privacy. If You have any questions concerning this Privacy Policy ("Policy"), our privacy practices, please do not hesitate to contact us via email info@csskinshop.com or send a mail to legal address.</p>
                <p class="p">When You access and use the Website, You trust us with Your personal data. In this Policy we seek  to explain to You in the clearest way possible what personal data we collect, for what purposes and how we use Your personal data, and the rights You have in relation to it.</p>
                <p class="p">We encourage You to take some time to read it through attentively because it applies to all personal data collected within the use of the Website and purchase of Products through the Website, and our communication with You via the Website interface and email.</p>
                <p class="p">This Policy supplements our  Terms and Conditions and constitutes its integral part. All terms used in this Policy should be interpreted according to our Terms and Conditions</p>
                <h4>Who is responsible for the processing of Your personal data?</h4>

                <p class="p">The Company is primary responsible for the processing of Your personal data within the scope of this Policy . Under certain circumstances, the responsibility for data protection and your privacy is shared with third parties. About third parties involved in the processing Your personal data read more further in this Policy.</p>
                <p class="p">For personal data processing specifies in this Policy Company acts as a data controller  in the sense of  Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection of natural persons with regard to the processing of personal data and on the free movement of such data, and repealing Directive 95/46/EC  ("GDPR").</p>

                <h4>What types of personal data do we collect?</h4>
                    <p class="p">
                        We adhere to the principle of data minimization and collect only those personal data that are necessary for the purposes specified in this Policy.</p>
                    <p class="p">The personal information we collect can include the following:</p>
                    <ol>
                        <li><b>Account data.</b>  These personal data we collect directly from You or from third parties to enable You to sign in and purchase Products.</li>
                        <li><b>Personal data collected from third parties.</b>When You sign in our Website through Your Steam user account, we receive Your personal data from Valve Corporation, the owner of Steam. These personal data include Your Steam ID, username, user picture. With this information, we will be  able to identify your Steam profile and access public information related to your Steam account, including the list of your virtual items. 
Please, note that we do not control, and are not responsible for, other uses of your personal data by Valve Corporation. We recommend that You review  Valve Privacy Policy.</li>
                        <li><b>Personal data collected directly from You.</b>We also collect Your email to register an Account on the Website.
 When You sign in, we will automatically create Your Account and assign You with a Consumer ID that is later used to reference Your Account. </li>
                        <li><b>Data automatically collected.</b> When You access, use and navigate the Website, we  automatically collect the following personal data from Your browser:</li>
                    </ol>

                    <ul>
                        <li>IP address, information about Your location, information about Your mobile operator or Internet provider;</li>
                        <li>data related to Your device: its operating system, browser type, and version, screen resolution, set time zone, language settings, device type: its model and manufacturer (if applicable);</li>
                        <li>information about Your browsing session and any interaction with the Website interface (for example, the number of pages You visited, the number of pages You clicked);</li>
                        <li>information about the source from which You visited the Website.</li>
                        <li>like many businesses, we also collect some data through cookies  ( " Cookie data "). Find out more about how we use cookies in our Cookie Policy.</li>
                    </ul>
                  <ol>
                      <li><b>Transaction data.</b> We collect information about Your deposits, purchases of Products through the Website, withdrawals of Products to Your Steam user account.</li>
                      <li><b>Payment data.</b> We do not directly process your payments but when  Y ou make payments for the  Products,  we receive the information about your payment(s) from our payment provider which includes the following:</li>
                  </ol>
                    <ul>
                        <li>Transaction ID;</li>
                        <li>The payment instrument used for making a payment;</li>
                        <li>Your IP address</li>
                    </ul>
                    <p class="p">Contact data.  When You contact us with the interface of the Website or via an available e-mail address, we process the following data:</p>
                    <ul>
                        <li>Your name;</li>
                        <li>Your e-mail address;</li>
                        <li>Other information You additionally (voluntarily) provide us with.</li>
                    </ul>
                    <h4>Do we use cookies?</h4>
                    <p class="p">We use cookies to access or store information. Specific information about how we use such technologies and how you can refuse certain cookies is set out in our Cookie Policy.</p>
                    <h4>What are the purposes and legal bases for personal data processing?</h4>

                    <table>
    <tbody>
      <tr>
        <td>
          <p>
            <strong> Purpose of processing </strong>
          </p>
          <p>
            <strong> (why we use Your personal data) </strong>
          </p>
        </td>
        <td>
          <p>
            <strong> Categories of personal data used for the relevant purpose </strong>
          </p>
        </td>
        <td>
          <p>
            <strong> The legal basis for processing </strong>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Providing You with access to the Website functionality</p>
        </td>
        <td>
          <p>Data automatically collected</p>
          <p>Cookie data</p>
        </td>
        <td>
          <p>Legitimate interest</p>
          <p>Our legitimate interest is that You have access to the Website and are able to use its functionality completely (Article 6 (1)(f) of the GDPR).</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Maintaining the correct operation and ensuring the security of the Website</p>
        </td>
        <td>
          <p>Data automatically collected</p>
          <p>Cookie data</p>
        </td>
        <td>
          <p>Legitimate interest</p>
          <p>Our legitimate interest is in ensuring the proper functioning of the Website, protection against cyberattacks, and any other external threats (Article 6 (1)(f) of the GDPR).</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Improving the performance of the Website</p>
        </td>
        <td>
          <p>Data automatically collected</p>
          <p>Cookie data</p>
        </td>
        <td>
          <p>Legitimate interest</p>
          <p>Our legitimate interest is to analyze the effectiveness of Your interaction with the Website and provide it to You in the best possible way (Article 6 (1)(f) of the GDPR).</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Communication with You in course of Your use of the Website</p>
        </td>
        <td>
          <p>Contact data</p>
        </td>
        <td>
          <p>Legitimate interest</p>
          <p>Our legitimate interest is in communicating with Website Users and the public (Article 6 (1)(f) of the GDPR).</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Registration and administration of Your Account</p>
        </td>
        <td>
          <p>Account data</p>
        </td>
        <td>
          <p>Performance of a contract</p>
          <p>We need these data to create Your Account. Without these data, we would not be able to conclude a contract with You and open create an Account on the Website.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>To provide You with purchased Products </p>
        </td>
        <td>
          <p>Account data</p>
          <p>Payment data</p>
        </td>
        <td>
          <p>Performance of a contract</p>
          <p>It is our contractual obligation to provide You with Products You have purchased. We use Payment data to ensure <strong> that you have paid for the Products and Your Account data to upload the Products </strong>(Article 6 (1)(b) of the GDPR). </p>
        </td>
      </tr>
    </tbody>
  </table>
  <h4>How long will we store Your personal data?</h4>
  <p class="p">We undertake to store Your personal data no longer than it is necessary to achieve the purposes stipulated in this Policy. In the event of any dispute with You, we will store Your personal data for as long as necessary to resolve the dispute.</p>
  <ol>
      <li><b>Data automatically collected.</b>  We will store Data automatically collected for 14 (fourteen) months from Your last visit to the Website.</li>
      <li> <b>Account data and Transaction data.</b>  We will store Your Account data and  Transaction data  no longer than necessary for making the account available to you. We will erasure Your Account data and  Transaction data  if You do not use Your Account for 6 (six)  months. </li>
      <li><b>Contact data.</b> We will store Your Contact data no longer than necessary for our communication.  When the purpose of our communication with You is reached, we erase these data. </li>
      <li><b>Payment data.</b>  We will store Your Payment data  up to a period of 6 (six) years starting from the date of the provision of Products to You for the purposes of consumer dispute resolution and solving any problem which may arise with You.</li>
      <li><b>Cookie data.</b>  The storage period for cookies is defined in the Cookie Policy according to the type of cookie</li>
  </ol>
  <h4>What are Your privacy rights?</h4>

  <p class="p"><b>Right to access (Article 15 of the GDPR):</b><br>
You have the right to obtain from us confirmation as to whether or not personal data concerning You are being processed, where that is the case, obtain a copy of Your personal data.<br>
<b>Right to erasure (Article 17 of the GDPR):</b><br>
You have the right to obtain from us the erasure (removal) of your personal data. Upon your request, your personal data shall be removed. This right shall be applied if:</p>
<ol>
    <li>Your personal data are no longer needed for the purposes for which these data were collected;</li>
    <li>You have withdrawn your consent (if you have provided this consent) and there are no other legal bases for further processing;</li>
    <li>We do not need to keep your personal data for the purposes of compliance with the applicable legislation;</li>
    <li>The data are processed unlawfully;</li>
    <li>There are no restrictions of this right by the applicable legislation;</li>
    <li>In other cases when the erasure (removal) is required or permitted by the applicable law.</li>
</ol>

<p class="p">
    <b>Your right to object to processing based on a legitimate interest (Article 21 of the GDPR):</b><br>
     You have the right to object to the processing of your personal data that is based on our legitimate interest. We will not continue to process the personal data unless we can demonstrate legitimate grounds for the process which overrides your interest and rights or due to legal claims.<br>
     <b>Right to restriction (Article 18 of the GDPR):</b><br>
     You have the right to request that we restrict the process of your personal data under the following circumstances:
</p>

<ol>
    <li>If You object to processing based on our legitimate interest, we shall restrict all processing of such data until the verification of the legitimate interest;</li>
    <li>If You have claimed that Your personal data is incorrect, we must restrict all processing of such data until the verification of the accuracy of the personal data;</li>
    <li>If the processing is unlawful, You can oppose the erasure of personal data and instead request the restriction of the use of Your personal data instead;</li>
    <li>If we no longer need the personal data but it is required by You to defend legal claims.</li>
</ol>

<p class="p">
    <b>Right to lodge a complaint with the supervisory authority (Article 77 of the GDPR):</b><br>
    You can always contact us for any issue concerning the processing of Your personal data, including complaints. 
</p>
<p class="p">
Nevertheless, if you suppose that your rights under applicable data protection legislation have been violated, you can lodge a complaint either:
</p>

<ul>
    <li>With the Commissioner for Personal Data Protection of the Republic of Cyprus (jurisdiction of our incorporation). The Website of the Commissioner http://www.dataprotection.gov.cy/ ;  or</li>
    <li>With the data protection authority of the country of Your habitual residence or place of work. You can find the list of all EU Data Protection Authorities on the Website of the European Data Protection Board https://edpb.europa.eu/about-edpb/board/members_en .</li>
</ul>


<h4>How do You exercise Your rights?</h4>

<p class="p">
    We take data protection very seriously and therefore we have dedicated our support personnel to handle Your requests in relation to your rights stated above. You can always reach them at <a href="mailto:info@csskinshop.com">info@csskinshop.com</a>
</p>


<p class="p">
    <b>Do we collect information from children?</b>
    Our Website is not intended for use by children, and therefore we do not collect or process, at least intentionally, the personal data of individuals under 18 (eighteen) years.
</p>

<p class="p">
    <b>Will Your personal data be shared with anyone?</b><br>
    To ensure the proper operation of the Website, we may share Your personal data with third parties, including:
</p>

<ul>
    <li>Our contractors, subcontractors, external consultants.  We may engage third parties to service the Website and, accordingly, transfer Your personal data to them. We guarantee that these persons have a contractual obligation with us to process Your personal data in accordance with this Policy and the applicable law.</li>
    <li>Website Hosting Providers.  We use the services of hosting providers and host our Website on their server. In this regard, they may have access to Your personal data, but in encrypted form.</li>
    <li>Analytics and IT service providers.  We may also use the services of companies that help us to analyze the operation of the Website, Your interaction with it and help us to monitor and prevent any external threats to the Website. We currently use the services of the following providers:</li>
</ul>

<ul class="sec-list">
    <li>Cloudflare.  Cloudflare, Inc. 101 Townsend St, San Francisco, CA 94107, USA helps us to optimize the operation of the Website and ensure its protection. Please read more in Cloudflare Privacy Policy . The United States does not provide an adequate level of personal data protection, so standard contractual clauses (SCC) apply to the transfer of Your personal data to Cloudflare.</li>
    <li>Google. Google Ireland Limited, Gordon House, Barrow Street, Dublin, D04 E5W5, Dublin,  368047,  Ireland  provides Google Analytics services. Google LLC, 1600 Amphitheater Parkway, Mountain View, CA 94043, USA provides reCAPTCHA services. Please read more in Google Privacy Policy . The United States does not provide an adequate level of personal data protection, standard contractual clauses (SCC) apply to the transfer of Your personal data to Google LLC.</li>
    <li>Login4play.  We use  Login4play services to identify your  Steam community profile and access information about your Steam account . For this purpose, we share your  Steam  with  login4play.com .</li>
</ul>


<h4>Cookie policy</h4>

<p class="p">
    <b>What are cookies?</b><br>
    Cookies are files stored on your computer or mobile phone  with small pieces of data. They store certain information (e.g. your preferred language or site settings) which your browser may (depending on the lifespan of the cookie) retransmit to us upon your next visit to our Website.
</p>



<p class="p">
    <b>Which cookies do we use?</b><br>
The table below aims to inform you about the type and purpose of each cookie, and its  expiration time .
</p>

  <table>
    <tbody>
      <tr>
        <td>
          <p>
            <strong> Name of the Cookie </strong>
          </p>
        </td>
        <td>
          <p>
            <strong> Type </strong>
          </p>
        </td>
        <td>
          <p>
            <strong> Expiration time </strong>
          </p>
        </td>
        <td>
          <p>
            <strong> Purpose of use </strong>
          </p>
        </td>
        <td>
          <p>
            <strong> Status </strong>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>_ga</p>
        </td>
        <td rowspan="2">
          <p>Analytics cookies</p>
        </td>
        <td>
          <p>2 years</p>
        </td>
        <td rowspan="2">
          <p>These Google Analytics cookies are used to collect information about how visitors interact with the Website. We use this information in order to improve and enhance our Website.</p>
        </td>
        <td rowspan="2">
          <p>Optional</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>1P_JAR</p>
        </td>
        <td>
          <p>1 month</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>__cfduid</p>
        </td>
        <td>
          <p>Security cookie</p>
        </td>
        <td>
          <p>1 month</p>
        </td>
        <td>
          <p>This cookie is a security feature deployed by us in order to protect the Website.</p>
        </td>
        <td>
          <p>Strictly necessary</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>uuid</p>
        </td>
        <td>
          <p> Essential cookie </p>
        </td>
        <td>
          <p>1 month</p>
        </td>
        <td>
          <p>This is aunique identifier to ensure the uniqueness of the created applications, libraries, objects, components and services.</p>
        </td>
        <td>
          <p>Strictly necessary</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>PHPSESSID</p>
        </td>
        <td>
          <p> Essential cookie </p>
        </td>
        <td>
          <p> Session </p>
        </td>
        <td>
          <p>This cookie helps to identify Your browser.</p>
        </td>
        <td>
          <p>Strictly necessary</p>
        </td>
      </tr>
    </tbody>
  </table>



<h4>How can you disable or delete cookies?</h4>

<p class="p">Essential and  Security  are strictly  necessary  for technical reasons ( Technically necessary cookies). These cookies do not require consent from you.</p>
<p class="p">Analytics cookies are optional, and you can manage them in our cookie settings or  by setting your browser to not accept cookies. The exact instructions for this can be found in the manual for your browser. You can also delete cookies already on your device at any time through your browser’s settings. Find out how to manage cookies on popular browsers:</p>

<ul>
    <li>Google Chrome</li>
    <li>Mozilla Firefox</li>
    <li>Microsoft Internet Explorer</li>
    <li>Opera</li>
    <li>Apple Safari</li>
</ul>



<h4>Do we make updates to this Policy?</h4>


<p class="p">Yes, we will update this Policy as necessary to stay compliant with relevant laws.  The current version of the Policy will be posted on the Website, so please follow all updates.</p>
















            </div>
        </div>
    </div>
</section>