<section class="doc-title-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-11 offset-lg-1 relative">
                <img src="/img/doc.svg" alt="doc" class="doc-bg">
                <h1>{{title}}</h1>
                <p class="date">Date of last effective update is May 10, 2022</p>
            </div>
        </div>
    </div>
</section>


<section class="content-doc terms-doc">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h4>Basic information</h4>
                <p class="p">These Terms and Conditions ( “Terms”) constitute a legally binding entire agreement between  MADILER LIMITED (“Company”, “We”, “Us”, “Our”) and You (“You”, “User”) and regulate relations concerning an access and use of website loot-cscase.com (“Website”) and resell of Steam-supported virtual items for use within computer games (e.g., weapons, skins etc.) by the Company through the Website (hereinafter the “Products”).</p>
                <p class="p">We encourage You to read these Terms attentively. Your access and continuing use of the Website functionality regardless of Your purchase of Products will mean that You have read, understand, and agree to be bound by and follow these Terms in their entirety.</p>
                <p class="p">These Terms are supplemented with our Privacy Policy  (“Policy”), which governs the processing of Your personal data in the context of using our Website and the purchase of Products through the Website.</p>
                <h4>Eligibility </h4>
                <p class="p">We encourage parents and legal guardians to be attentive and ensure safe use of the Website and its Products by children.</p>
                <p class="p">We do not  knowingly provide our Website and our Products to  persons under 18 (eighteen) years old. If You are under such age, You shall be represented by at least one parent or legal guardian to use our Website and purchase our Products. </p>
                <p class="p">By creating an account on our Website, You confirm that You are at least 18 (eighteen) years old and have no legal restrictions to use our Website and Products, or You are represented by a parent or legal guardian. </p>
                <h4>Intellectual property</h4>
                <p class="p">The Company is the sole owner or lawful licensee of all the intellectual property rights to the Website and all the content available on the Website, including, but not limited to, computer code, visual interface, texts, images, animations, design, button icons, music, video, trade names, expressions and other intellectual property objects (hereinafter “Website Content”).</p>
                <p class="p">The Website and the  Website Content embody trade secrets, trademarks, and works protected under worldwide copyright and other intellectual property laws.</p>
                <p class="p">We grant You a right to access and use the Website Content, in whole or in part, solely for Your personal, non-commercial purposes. </p>
                <p class="p">You acknowledge and agree that  You may not  reproduce, modify, rent, lease, loan, sell, distribute, mirror, frame, republish, download, store on a retrieval system, transmit, or create derivative works of  the Website Content , in whole or in part, by any means without our prior written consent.</p>
                <p class="p">Provisions concerning intellectual property rights to Products are separately specified in these Terms.</p>
                <h4>Prohibited behavior</h4>
                <p class="p">In connection with accessing and using the Website regardless of purchase of Products you agree not to: </p>
                <ol>
                    <li>Access or use the Website for any purpose other than that for which we make the Website available;</li>
                    <li>Breach or circumvent any laws, regulations,  or byelaw , these Terms, and our Privacy Policy;</li>
                    <li>Attempt to disable, damage, i nterfere with, disrupt, or create an undue burden on the Website or the networks or services connected to the Website;</li>
                    <li>Exploit errors and bugs in the Website to gain access that would otherwise not be available;</li>
                    <li>Copy or adapt the Website software ;</li>
                    <li>Use or launch any unauthorized technology or automated system to access the Website or extract content from the Website, including but not limited to spiders, robots, screen scrapers, or offline readers;</li>
                    <li>Infringe or breach the copyright, trademark rights or any intellectual property rights or other rights of the Company or any third party;</li>
                    <li>Attempt to impersonate another user or person or use the username of another user;</li>
                    <li>Use the Website fraudulently or unlawfully, or in a manner that is contrary to the interests of the Company, any specific rule or requirement which we stipulate on the Website concerning a particular part of the Website or the Website generally;</li>
                    <li>Create more than one Account.</li>
                </ol>
                <p class="p">We reserve all legal rights to recover damages or other compensation under these Terms or as allowed by law.</p>
                <h4>Your account on the Website</h4>
                <p class="p">You may need an individual account to purchase any of the Products through the Website. You shall sign in on the Website through Your Steam user account provided by Valve Corporation. Therefore, You are obliged to follow terms, conditions, and rules stipulated in Steam legal documents. The Company is not related to the Valve Corporation services and Steam. </p>
                <p class="p">Based on your Steam user account we will automatically create Your individual account on the Website (hereinafter the “Account”) , where You can purchase Products, form Your money balance for purchases, monitor this balance and the list of purchased Products. One Steam user account may only be used to create a single Account. </p>

                <p class="p">We do not permit Account registration by bots or any other automated methods. Unless explicitly permitted, You may not share Your Account with other persons. </p>
                <p class="p">Please note that by signing in on the Website You authorize us to access and use some information from Your Steam user account including, but not limited to, Your public Steam profile information and the list of Your virtual items. Find out more about personal data we process in our Privacy Policy. </p>
                <p class="p">You acknowledge that You are completely responsible for maintaining the security and confidentiality of Your Account and password and for restricting access to Your Account. You are also in charge of any activity on the Website under Your Account. We shall not be liable to any person for any loss or damage which may arise as a result of any failure by you to protect your password or account. Should you become aware of or suspect any unauthorized use of Your password or account, please contact us. </p>
                <p class="p">We reserve the right to lock Your Account in case of suspicious, fraudulent, unfair, or harmful behavior.</p>
                <p class="p">You can terminate Your Account at any time by making a request via the "Contact Us" feature.</p>
                <h4>Products offered</h4>
                <p class="p">We resell You Steam-supported virtual items for use within computer games. The list, description, and prices of the Products are available on the Website. The company attempts to be as accurate as possible in the description of Products. However, we do not warrant that Product descriptions are always accurate, complete, reliable, current, or error-free. </p>
                <p class="p">We reverse the right to change the list of Products offered and relevant prices according to our business needs without prior notification. </p>
                <p class="p">It should be noted that Products are intellectual property objects owned by Valve Corporation or its affiliates, counterparties, and protected worldwide with copyright and trademarks. Thus, the purchase of Products through the Website does not mean the transfer of any intellectual property rights to You. </p>
                <p class="p">You are grated just restricted right of use Products only for their functional purposes, namely as in-game assets, except as otherwise provided by these Terms or allowed by intellectual property owners. Modification or use of the Products for any other purpose would violate Valve Corporation and/or its affiliates’, counterparties’ intellectual property rights. </p>
                <h4>Purchases and payments</h4>
                <p class="p">To purchase any of our Products You select the one You need and pay for it using your payment method. All payments are independently processed through third-party services. Therefore, this Website does not collect any payment information – such as credit card details – but only receives a notification once the payment has been completed. </p>
                <p class="p">You agree to comply with any and all applicable tax laws, including the reporting and payment of any taxes arising in connection with your purchase of Products through the Website. </p>
                <p class="p">We undertake to upload a Product purchased by You into Your Account without undue delay or within 24 (twenty-four) hours starting from the moment we have received a notification about your payment. After that, You may withdraw the Product by transferring to Your Steam user account. </p>
                <p class="p">If payment through the available methods fail or is refused by the payment service provider, we shall be under no obligation to fulfill the purchase. </p>
                <p class="p">Products are deemed to be digital content which is not supplied on a tangible medium within the meaning of Directive 2011/83/EU of the European Parliament and of the Council. Therefore, You acknowledge and consent that purchasing Products You lose the right of withdrawal, and Products cannot be returned as prescribed in article 16(m) of Directive 2011/83/EU of the European Parliament and of the Council. </p>
                <p class="p">If You have a problem with a Product, please contact us as soon as possible. We offer a twenty-four (24) hour guarantee for Products that present errors when uploaded into Your Account or differ from the Products purchased.</p>
                <h4>Your privacy</h4>
                <p class="p">Your privacy is important to us. Thus, we make our best effort to process Your personal data in a lawful, fair, and transparent manner. All necessary information about the processing of Your personal data You can read in our Privacy Policy.</p>
                <h4>Applicable law and dispute resolution</h4>
                <p class="p">These Terms, Privacy Policy, relations between You and us, including any contracts, agreements are governed by the law of the Republic of Cyprus Any claims and disputes arising from these Terms, Privacy Policy, relations between You and us, including any contracts, agreements shall be subject to the exclusive jurisdiction of the courts of the Republic of Cyprus. </p>
                <p class="p">We encourage You to contact any issue concerning the use of the Website, purchase of products, including complaints. We will try to reach a settlement through negotiations. </p>
                <p class="p">Nevertheless, if You deem that Your rights under applicable consumer rights protection law are violated, you can follow the European Commission’s Online Dispute Resolution platform: http://ec.europa.eu/consumers/odr/ and find a solution to your problem. There may also be other dispute resolution platforms based in your country of residence.</p>
                <h4>Updates</h4>
                <p class="p">The Company reserves the right to modify, amend and update these Terms. In any case, the updated Terms will be posted on the Website. Please refer to the last effective date where changes were last undertaken by us. Your subsequent use of the Website after the effective date of any update indicates Your acceptance of the current version of the Terms. </p>
                <h4>Severability</h4>
                <p class="p">If any part of these Terms shall be found by a court to be unlawful, void or unenforceable for any reason, then that provision shall be capable of being severed and separated from these Terms and shall not affect the validity and enforceability of any of the other provisions of these Terms which shall all remain in force.</p>
                <h4>Links</h4>
                <p class="p">The Website may contain links to other websites which are also outside the Company’s control and are not covered by the Terms. The Company will not be liable for the content of any third-party websites or the actions or omissions of their proprietors nor for the contents of third-party advertisements and sponsorship on those websites. The hyperlinks to other websites are provided for information purposes only. You use any such links at your own risk.</p>
                <h4>Limitation of liability</h4>
                <p class="p">In no event, neither the Company, nor its owners, affiliates, contractors, or agents shall be liable to You or any third party for any direct or indirect lost profits or lost business damage, special, indirect, consequential, exemplary or incidental damages related to or arising out of the use or access the Website or purchase of Products. </p>
                <p class="p">Nothing in this section is intended to limit our liability for damages to the extent caused by our own gross negligence or intentional or unlawful misconduct. Additionally, nothing in this section is intended to limit or alter Your rights as a consumer that cannot be limited or altered under applicable law. </p>
                <p class="p">Under no circumstances the total amount of our liability shall exceed the amount transferred by You for the last 12 months or EUR 200, whichever is greater.</p>
                <h4>Disclaimer</h4>
                <p class="p">WE DO NOT PROMISE THAT THE WEBSITE, WEBSITE CONTENT OR PRODUCTS WILL BE ERROR-FREE OR UNINTERRUPTED, OR THAT ANY DEFECTS WILL BE CORRECTED, OR THAT YOUR USE OF THE WEBSITE WILL PROVIDE SPECIFIC RESULTS. THE WEBSITE, WEBSITE CONTENT, AND PRODUCTS ARE DELIVERED ON AN "AS-IS" AND "AS AVAILABLE" BASIS. </p>
                <p class="p">ALL INFORMATION PROVIDED ON THE SITE IS SUBJECT TO CHANGE WITHOUT NOTICE. THE COMPANY CANNOT ENSURE THAT ANY FILES OR OTHER DATA YOU DOWNLOAD FROM THE SITE WILL BE FREE OF VIRUSES OR CONTAMINATION OR DESTRUCTIVE FEATURES. WE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING ANY WARRANTIES OF ACCURACY, NON-INFRINGEMENT, MERCHANTABILITY, AND FITNESS FOR A PARTICULAR PURPOSE. WE DISCLAIM ANY AND ALL LIABILITY FOR THE ACTS, OMISSIONS AND CONDUCT OF ANY THIRD PARTIES IN CONNECTION WITH OR RELATED TO YOUR USE OF THE WEBSITE. YOU ASSUME TOTAL RESPONSIBILITY FOR YOUR USE OF THE WEBSITE AND PURCHASE OF PRODUCTS. YOUR SOLE REMEDY AGAINST THE COMPANY FOR DISSATISFACTION WITH THE WEBSITE OR THE WEBSITE CONTENT IS TO STOP USING THE WEBSITE OR ANY SUCH CONTENT. THIS LIMITATION OF RELIEF IS A PART OF THE BARGAIN BETWEEN THE PARTIES. WE ARE NOT RELIABLE FOR THE CORRECT AND ERROR-FREE OR UNINTERRUPTED WORK OF ANY SERVICES PROVIDED BY VALVE CORPORATION, INCLUDING, BUT NOT LIMITED TO STEAM.</p>
                <h4>User support</h4>
                <p class="p">If you have any questions or complaints regarding the Website, please contact us by email <a href="mailto:info@csskinsshop.com">info@csskinsshop.com</a> . We will undertake our commercially reasonable efforts in order to answer as quickly as possible.</p>
            </div>
        </div>
    </div>
</section>